/*
----------------------------------
Removing default margin and paddings
on P tags
----------------------------------
*/
p {
  padding: 0;
  margin: 0;
}



/*
----------------------------------
This is the mobile configuration
----------------------------------
*/
  @media screen and (max-width: 800px) {
    html, body {
        width: auto;
        min-height: auto;
        background-image: url("/grantabbottdesign/assets/images/background.png");
        background-repeat: no-repeat;
        zoom: 90%;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
      }


    .siteName {
        font-family: 'Libre Baskerville', serif;
        font-size: 36px;
        color: #1B5679;
          position: absolute;
          left: 85%;
          top: 2%;

          height: 50px;
          width: 300px;
          margin-top: 0px;
          margin-left: -225px;
          text-align: center;
          z-index: 1;
      }
  }



  /*
  ----------------------------------
  Tablet configuration Needed
  ----------------------------------
  */
  @media screen and (min-width: 800px) and (max-width: 1100px) {
    html, body {
        width: auto;
        min-height: auto;
        background-image: url("/grantabbottdesign/assets/images/background.png");
        background-repeat: no-repeat;
        zoom: 90%;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
      }

    .siteName {
        font-family: 'Libre Baskerville', serif;
        font-size: 64px;
        color: #1B5679;
          position: absolute;
          left: 80%;
          top: 50%;

          height: 150px;
          width: 500px;
          margin-top: -100px;
          margin-left: -275px;
          text-align: center;
          z-index: 1;
      }
  }


  /*
  ----------------------------------
  This is the desktop configuration
  ----------------------------------
  */
@media screen and (min-width: 1100px) {
  html, body {
      width: auto;
      min-height: auto;
      background-image: url("/grantabbottdesign/assets/images/background.png");
      background-repeat: no-repeat;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }


  .siteName{
    font-family: 'Libre Baskerville', serif;
    font-size: 84px;
    color: #1B5679;
    position: absolute;
    left: 80%;
    top: 60%;


    height: 150px;
    width: 600px;
    margin-top: -200px;
    margin-left: -300px;
    z-index: 1;
  }
}



/*
----------------------------------
  CSS for opening nav bar
----------------------------------
*/

.icon-menu {
  color: #000;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-top: 25px;
  text-decoration: none;
  text-transform: uppercase;
}



/*
----------------------------------
CSS for the nav icons & Text in the menu
----------------------------------
*/

.menu {
  background: #202024 url('/grantabbottdesign/assets/images/menu_background.jpg') repeat left top;
  left: -285px;  /* start off behind the scenes */
  height: 100%;
  position: fixed;
  width: 285px;
  z-index: 2;
}

.nav_icons {
  width: 35px;
  margin-left: 10px;
  text-align: center;
}

.connect {
  font-family: 'Libre Baskerville', serif;
  font-size: 26px;
  color: #fff;
  margin-left: -35px;
  text-align: center;
}

.menu ul {
  border-top: 1px solid #636366;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  border-bottom: 1px solid #636366;
  font-family: 'Open Sans', sans-serif;
  line-height: 45px;
  padding-bottom: 3px;
  padding-left: 20px;
  padding-top: 3px;
}

.menu a {
  color: #fff;
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
}

.icon-close {
  cursor: pointer;
  padding-left: 10px;
  padding-top: 10px;
}

.icon-menu i {
  margin-right: 5px;
}
